PhantomJS generating "double posts"

Hi,

PhantomJS 2.0 is an integral part of our load testing framework.

We are in the process of working unexpected TCP disconnect issues with F5 (BIGIP).F5 have observed the following behaviour in wireshark traces provided by ourselves.

"There are 9 instances of the client sending ~8K data (instead of ~5K). In each case, the data consist of a POST followed immediately by a second POST where the second POST has no content. All the same headers are included (the cookies taking up the majority of space), including the Content-Length, but after the headers of the second POST there is no data. POST is a non-idempotent method, so according to RFC 2616 section 8.1.2.2, clients SHOULD NOT do this. Secondly, the second POST declares a Content-Length, but does not actually send the data, which is a violation of RFC 2616 section 4.4"

This is one particular example

"
Below you will find the 1st and 2nd POST (W9uVG9rZ....) :

```
POST /IAPI/GetWillPays.aspx HTTP/1.1^M
Referer: .../login.aspx^M
Origin: ...^M
User-Agent: Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/538.1 (KHTML, like Gecko) PhantomJS/2.0.0 Safari/538.1^M
Content-type: application/x-www-form-urlencoded^M
Accept: */*^M
Content-Length: 2142^M
Cookie: ASP.NET_SessionId=x0l4fm3u11q3vaww3av4ia3j; infoHeight=23; sessionToken=5637dcf3-4c14-7d923-4c966-556e39529a%7E%7B%22partnerUsername%22%3A%22970003999%22%2C%22debitSportsbookStake%22%3Afalse%2C%22debitExchangeStake%22%3Afalse%2C%22purseIntegraionModeId%22%3A1%2C%22canPlaceForSideOrders%22%3Atrue%2C%22canPlaceAgainstSideOrders%22%3Atrue%2C%22restrictedToFillKillOrders%22%3Afalse%2C%22currency%22%3A%22USD%22%2C%22language%22%3A%22en%22%2C%22priceFormat%22%3A1%2C%22marketByVolumeAmount%22%3A0%2C%22isRetailPunter%22%3Atrue%2C%22punterClassificationName%22%3A%22Basic%22%2C%22sessionToken%22%3A%22PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTE2Ij8+PFNlc3Npb25Ub2tlblYyIHhtbG5zOnhzZD0iaHR0cDovL3d3dy53My5vcmcvMjAwMS9YTUxTY2hlbWEiIHhtbG5zOnhzaT0iaHR0cDovL3d3dy53My5vcmcvMjAwMS9YTUxTY2hlbWEtaW5zdGFuY2UiPjxpUEFkZHJlc3M+MTk0LjE2NS4xODkuNzA8L2lQQWRkcmVzcz48cHVudGVySWQ+MTc4MTcyMDQ8L3B1bnRlcklkPjxpbnRlZ3JhdGlvblBhcnRuZXJJZD4xPC9pbnRlZ3JhdGlvblBhcnRuZXJJZD48cGFydG5lclVzZXJuYW1lPjk3MDAwMzk5OTwvcGFydG5lclVzZXJuYW1lPjxwYXJ0bmVyVHlwZT4yPC9wYXJ0bmVyVHlwZT48cHVyc2VJbnRlZ3JhdGlvbk1vZGU+MTwvcHVyc2VJbnRlZ3JhdGlvbk1vZGU+PHBJQ1Bhc3N3b3JkT3B0aW9uPjE8L3BJQ1Bhc3N3b3JkT3B0aW9uPjxkZXZpY2VJZD4wPC9kZXZpY2VJZD48bnVtYmVyU2lnbmlmaWNhbnRCaXRzPjA8L251bWJlclNpZ25pZmljYW50Qml0cz48b3JnYW5pc2F0aW9uVW5pdElkPjE8L29yZ2FuaXNhdGlvblVuaXRJZD48aXNzdWVkQXQ+MjAxNS0wNS0yOFQxMTo1NzozOS4zMTQ5NDJaPC9pc3N1ZWRBdD48aXNzdWVkQXRUaWNrcz42MzU2ODQxMTA1OTMxNDk0MjA8L2lzc3VlZEF0VGlja3M+PGN1cnJlbmN5PlVTRDwvY3VycmVuY3k+PGxhbmd1YWdlPmVuPC9sYW5ndWFnZT48cHJpY2VGb3JtYXQ+MTwvcHJpY2VGb3JtYXQ+PG1hcmtldEJ5Vm9sdW1lQW1vdW50PjxhbW91bnQ+MC4wMDwvYW1vdW50PjxjdXJyZW5jeT5VU0Q8L2N1cnJlbmN5PjwvbWFya2V0QnlWb2x1bWVBbW91bnQ+PHNpZ25hdHVyZT5JMDVqYWVOVGcrQVhFK2wvNU9IaG81TGwyRW1RYnA0UXJoTHQwczM0cmltUUVaeDlyc2dvT0tHeTVMaXFpVFdidXFyYWpWaFRFZ1ZWWGU0eFptLzNJNGhWWUN4enJWUDV0YnFIOEpMYzdSV2E3dnRYc3ZCajZIVlN6VEd3eXlFZjU0N2dNU3VDL1grNWk3ZjRPY2cxaVdLQnhjMVI5eHE4bXZpSVQ3ZDhxUHM9PC9zaWduYXR1cmU+PGRlYml0U3BvcnRzYm9va1N0YWtlPmZhbHNlPC9kZWJpdFNwb3J0c2Jvb2tTdGFrZT48ZGViaXRFeGNoYW5nZVN0YWtlPmZhbHNlPC9kZWJpdEV4Y2hhbmdlU3Rha2U+PHBhcnRuZXJNb2RlPjA8L3BhcnRuZXJNb2RlPjxhcmJpdHJhcnlTZXNzaW9uSW5mb3JtYXRpb24gLz48aW50ZWdyYXRpb25QYXJ0bmVyVHlwZT4zPC9pbnRlZ3JhdGlvblBhcnRuZXJUeXBlPjxncmFudWxhckNoYW5uZWxUeXBlPjQ8L2dyYW51bGFyQ2hhbm5lbFR5cGU+PGNhblBsYWNlT3JkZXJzPnRydWU8L2NhblBsYWNlT3JkZXJzPjxjbGllbnRJZGVudGlmaWVyPm55cmEuMWI8L2NsaWVudElkZW50aWZpZXI+PGNhbkRlcG9zaXQ+dHJ1ZTwvY2FuRGVwb3NpdD48Y2FuV2l0aGRyYXc+dHJ1ZTwvY2FuV2l0aGRyYXc+PC9TZXNzaW9uVG9rZW5WMj4%3D%22%7D^M
Connection: Keep-Alive^M
Accept-Encoding: gzip, deflate^M
Accept-Language: en-IE,*^M
Host: ...^M
^M
request=%7B%22header%22%3A%7B%22version%22%3A2%2C%22fragmentLanguage%22%3A%22Javascript%22%2C%22fragmentVersion%22%3A%22%22%2C%22clientIdentifier%22%3A%22nyra.1b%22%7D%2C%22sessionToken%22%3A%22PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTE2Ij8%2BPFNlc3Npb25Ub2tlblYyIHhtbG5zOnhzZD0iaHR0cDovL3d3dy53My5vcmcvMjAwMS9YTUxTY2hlbWEiIHhtbG5zOnhzaT0iaHR0cDovL3d3dy53My5vcmcvMjAwMS9YTUxTY2hlbWEtaW5zdGFuY2UiPjxpUEFkZHJlc3M%2BMTk0LjE2NS4xODkuNzA8L2lQQWRkcmVzcz48cHVudGVySWQ%2BMTc4MTcyMDQ8L3B1bnRlcklkPjxpbnRlZ3JhdGlvblBhcnRuZXJJZD4xPC9pbnRlZ3JhdGlvblBhcnRuZXJJZD48cGFydG5lclVzZXJuYW1lPjk3MDAwMzk5OTwvcGFydG5lclVzZXJuYW1lPjxwYXJ0bmVyVHlwZT4yPC9wYXJ0bmVyVHlwZT48cHVyc2VJbnRlZ3JhdGlvbk1vZGU%2BMTwvcHVyc2VJbnRlZ3JhdGlvbk1vZGU%2BPHBJQ1Bhc3N3b3JkT3B0aW9uPjE8L3BJQ1Bhc3N3b3JkT3B0aW9uPjxkZXZpY2VJZD4wPC9kZXZpY2VJZD48bnVtYmVyU2lnbmlmaWNhbnRCaXRzPjA8L251bWJlclNpZ25pZmljYW50Qml0cz48b3JnYW5pc2F0aW9uVW5pdElkPjE8L29yZ2FuaXNhdGlvblVuaXRJZD48aXNzdWVkQXQ%2BMjAxNS0wNS0yOFQxMTo1NzozOS4zMTQ5NDJaPC9pc3N1ZWRBdD48aXNzdWVkQXRUaWNrcz42MzU2ODQxMTA1OTMxNDk0MjA8L2lzc3VlZEF0VGlja3M%2BPGN1cnJlbmN5PlVTRDwvY3VycmVuY3k%2BPGxhbmd1YWdlPmVuPC9sYW5ndWFnZT48cHJpY2VGb3JtYXQ%2BMTwvcHJpY2VGb3JtYXQ%2BPG1hcmtldEJ5Vm9sdW1lQW1vdW50PjxhbW91bnQ%2BMC4wMDwvYW1vdW50PjxjdXJyZW5jeT5VU0Q8L2N1cnJlbmN5PjwvbWFya2V0QnlWb2x1bWVBbW91bnQ%2BPHNpZ25hdHVyZT5JMDVqYWVOVGcrQVhFK2wvNU9IaG81TGwyRW1RYnA0UXJoTHQwczM0cmltUUVaeDlyc2dvT0tHeTVMaXFpVFdidXFyYWpWaFRFZ1ZWWGU0eFptLzNJNGhWWUN4enJWUDV0YnFIOEpMYzdSV2E3dnRYc3ZCajZIVlN6VEd3eXlFZjU0N2dNU3VDL1grNWk3ZjRPY2cxaVdLQnhjMVI5eHE4bXZpSVQ3ZDhxUHM9PC9zaWduYXR1cmU%2BPGRlYml0U3BvcnRzYm9va1N0YWtlPmZhbHNlPC9kZWJpdFNwb3J0c2Jvb2tTdGFrZT48ZGViaXRFeGNoYW5nZVN0YWtlPmZhbHNlPC9kZWJpdEV4Y2hhbmdlU3Rha2U%2BPHBhcnRuZXJNb2RlPjA8L3BhcnRuZXJNb2RlPjxhcmJpdHJhcnlTZXNzaW9uSW5mb3JtYXRpb24gLz48aW50ZWdyYXRpb25QYXJ0bmVyVHlwZT4zPC9pbnRlZ3JhdGlvblBhcnRuZXJUeXBlPjxncmFudWxhckNoYW5uZWxUeXBlPjQ8L2dyYW51bGFyQ2hhbm5lbFR5cGU%2BPGNhblBsYWNlT3JkZXJzPnRydWU8L2NhblBsYWNlT3JkZXJzPjxjbGllbnRJZGVudGlmaWVyPm55cmEuMWI8L2NsaWVudElkZW50aWZpZXI%2BPGNhbkRlcG9zaXQ%2BdHJ1ZTwvY2FuRGVwb3NpdD48Y2FuV2l0aGRyYXc%2BdHJ1ZTwvY2FuV2l0aGRyYXc%2BPC9TZXNzaW9uVG9rZW5WMj4%3D%22%2C%22cardIds%22%3A%5B100013351%5D%7DPOST /IAPI/GetWillPays.aspx HTTP/1.1^M
Referer: .../login.aspx^M
Origin: ...^M
User-Agent: Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/538.1 (KHTML, like Gecko) PhantomJS/2.0.0 Safari/538.1^M
Content-type: application/x-www-form-urlencoded^M
Accept: */*^M
Content-Length: 2142^M
Cookie: ASP.NET_SessionId=x0l4fm3u11q3vaww3av4ia3j; infoHeight=23; sessionToken=5637dcf3-4c14-7d923-4c966-556e39529a%7E%7B%22partnerUsername%22%3A%22970003999%22%2C%22debitSportsbookStake%22%3Afalse%2C%22debitExchangeStake%22%3Afalse%2C%22purseIntegraionModeId%22%3A1%2C%22canPlaceForSideOrders%22%3Atrue%2C%22canPlaceAgainstSideOrders%22%3Atrue%2C%22restrictedToFillKillOrders%22%3Afalse%2C%22currency%22%3A%22USD%22%2C%22language%22%3A%22en%22%2C%22priceFormat%22%3A1%2C%22marketByVolumeAmount%22%3A0%2C%22isRetailPunter%22%3Atrue%2C%22punterClassificationName%22%3A%22Basic%22%2C%22sessionToken%22%3A%22PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTE2Ij8+PFNlc3Npb25Ub2tlblYyIHhtbG5zOnhzZD0iaHR0cDovL3d3dy53My5vcmcvMjAwMS9YTUxTY2hlbWEiIHhtbG5zOnhzaT0iaHR0cDovL3d3dy53My5vcmcvMjAwMS9YTUxTY2hlbWEtaW5zdGFuY2UiPjxpUEFkZHJlc3M+MTk0LjE2NS4xODkuNzA8L2lQQWRkcmVzcz48cHVudGVySWQ+MTc4MTcyMDQ8L3B1bnRlcklkPjxpbnRlZ3JhdGlvblBhcnRuZXJJZD4xPC9pbnRlZ3JhdGlvblBhcnRuZXJJZD48cGFydG5lclVzZXJuYW1lPjk3MDAwMzk5OTwvcGFydG5lclVzZXJuYW1lPjxwYXJ0bmVyVHlwZT4yPC9wYXJ0bmVyVHlwZT48cHVyc2VJbnRlZ3JhdGlvbk1vZGU+MTwvcHVyc2VJbnRlZ3JhdGlvbk1vZGU+PHBJQ1Bhc3N3b3JkT3B0aW9uPjE8L3BJQ1Bhc3N3b3JkT3B0aW9uPjxkZXZpY2VJZD4wPC9kZXZpY2VJZD48bnVtYmVyU2lnbmlmaWNhbnRCaXRzPjA8L251bWJlclNpZ25pZmljYW50Qml0cz48b3JnYW5pc2F0aW9uVW5pdElkPjE8L29yZ2FuaXNhdGlvblVuaXRJZD48aXNzdWVkQXQ+MjAxNS0wNS0yOFQxMTo1NzozOS4zMTQ5NDJaPC9pc3N1ZWRBdD48aXNzdWVkQXRUaWNrcz42MzU2ODQxMTA1OTMxNDk0MjA8L2lzc3VlZEF0VGlja3M+PGN1cnJlbmN5PlVTRDwvY3VycmVuY3k+PGxhbmd1YWdlPmVuPC9sYW5ndWFnZT48cHJpY2VGb3JtYXQ+MTwvcHJpY2VGb3JtYXQ+PG1hcmtldEJ5Vm9sdW1lQW1vdW50PjxhbW91bnQ+MC4wMDwvYW1vdW50PjxjdXJyZW5jeT5VU0Q8L2N1cnJlbmN5PjwvbWFya2V0QnlWb2x1bWVBbW91bnQ+PHNpZ25hdHVyZT5JMDVqYWVOVGcrQVhFK2wvNU9IaG81TGwyRW1RYnA0UXJoTHQwczM0cmltUUVaeDlyc2dvT0tHeTVMaXFpVFdidXFyYWpWaFRFZ1ZWWGU0eFptLzNJNGhWWUN4enJWUDV0YnFIOEpMYzdSV2E3dnRYc3ZCajZIVlN6VEd3eXlFZjU0N2dNU3VDL1grNWk3ZjRPY2cxaVdLQnhjMVI5eHE4bXZpSVQ3ZDhxUHM9PC9zaWduYXR1cmU+PGRlYml0U3BvcnRzYm9va1N0YWtlPmZhbHNlPC9kZWJpdFNwb3J0c2Jvb2tTdGFrZT48ZGViaXRFeGNoYW5nZVN0YWtlPmZhbHNlPC9kZWJpdEV4Y2hhbmdlU3Rha2U+PHBhcnRuZXJNb2RlPjA8L3BhcnRuZXJNb2RlPjxhcmJpdHJhcnlTZXNzaW9uSW5mb3JtYXRpb24gLz48aW50ZWdyYXRpb25QYXJ0bmVyVHlwZT4zPC9pbnRlZ3JhdGlvblBhcnRuZXJUeXBlPjxncmFudWxhckNoYW5uZWxUeXBlPjQ8L2dyYW51bGFyQ2hhbm5lbFR5cGU+PGNhblBsYWNlT3JkZXJzPnRydWU8L2NhblBsYWNlT3JkZXJzPjxjbGllbnRJZGVudGlmaWVyPm55cmEuMWI8L2NsaWVudElkZW50aWZpZXI+PGNhbkRlcG9zaXQ+dHJ1ZTwvY2FuRGVwb3NpdD48Y2FuV2l0aGRyYXc+dHJ1ZTwvY2FuV2l0aGRyYXc+PC9TZXNzaW9uVG9rZW5WMj4%3D%22%7D^M
Connection: Keep-Alive^M
Accept-Encoding: gzip, deflate^M
Accept-Language: en-IE,*^M
Host: ...^M
^M
```

It starts with normal headers, and then has a big block for the Cookie header. You get a couple more headers followed by a blank line and then the body, which starts with 'request='. At the end of the body, without any newlines, the new POST starts. Not having a newline here is not a problem, because we have the Content-Length field that tells us when the body ends. The new POST starts immediately, has a few headers, the Cookie header takes up a big block, and then we have a few more headers, but no body, which should start with 'request='.
"

These would be ajax requests in response to certain user activities.

If desirable; I can also include the traces from which these "double posts" were observed.

-Dave
